@import url('https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arsenal:ital,wght@0,400;0,700;1,400;1,700&family=Stack+Sans+Notch:wght@200..700&display=swap');
:root{
    --main-shadow: 1px 1px hsl(0deg 0% 0% / 0.075),
      0 2px 2px hsl(0deg 0% 0% / 0.075),
      0 4px 4px hsl(0deg 0% 0% / 0.075),
      0 8px 8px hsl(0deg 0% 0% / 0.075),
      0 16px 16px hsl(0deg 0% 0% / 0.075);
    --background-shadow-button: inset 3px 3px 15px #3a3a3ab6,
                inset -4px -4px 15px #fff,
                 3px 3px 15px #3a3a3ab6,
                 -4px -4px 10px #fff;
    --font-arsenal: "Arsenal SC";
    --font-arsenal-paragraph:"Arsenal";
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

html{
    font-size: 1vw;
    background-image: linear-gradient(to bottom, #ffffff, #ededed, #dbdbdb, #afafaf, #8d8d8d);
    min-height: 100vh;
}

body{
    opacity: 0;
    pointer-events: none;
    transition: opacity 1s ease;
    overflow-x: hidden;
}

header{
    width: 100%;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header>img{
    width: 40%;
    transform: translateY(-110%);
    transition: all 1.5s ease;
    opacity: 0;
}

.organizer_logo{
    width: 40%;
    position: relative;
    opacity: 0;
    transition: all 2s ease;
    transform: translateX(30rem);
    font-size: 5rem;
    font-family: var(--font-arsenal), sans-serif;
  font-weight: 400;
  font-style: normal;
    padding-left: 2rem;
    display: flex;
    justify-content: flex-end;
}

.organizer_logo>span{
    height: 100%;
    transform: translateY(-4rem);
    color: rgb(53, 53, 53);
    font-optical-sizing: auto;
}
/*FORMULARIO DE BUSQUEDA*/
.form-search-glass{
 display: flex;
 justify-content: center;
 width: auto;

}
/*INPUT DE LA BARRA DE BUSQUEDA*/
#search-glass{
    width: 30rem;
    padding: 1rem;
    border-radius: 25px;
    border: none;
    box-shadow: var(--main-shadow);
    position: relative;
    z-index: 10;
}

#search-glass:focus{
    outline: none;
}

/*Este es el mismo elemento de arriba(Formulario en la barra de busquedas de documentos) pero se le aplicaran estilos distintos*/
/*FORMULARIO DE BUSQUEDA*/
.form-documents{
    position: absolute;
    top: -100%;
    left: -100px;
    transition: left .5s ease-in-out, opacity 1s ease-in;
    opacity: 0;
}

.form-documents.active{
    opacity: 1;
    left: 40px;
}

.form-documents #search-glass{
    width: 3rem;
    transition: transform .5s ease-in-out, width .5s ease-in-out, opacity .5s ease-in-out;
} 
/*INPUT DE LA BARRA DE BUSQUEDA*/
#search-glass.active{
    width: 200px;
    z-index: 10;
}

.label-for-search-input{
    position: relative;
}

.field-results-glasses{
    background-color: #fff;
    padding: 2.5rem 1rem 1rem 1rem;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    position: absolute;
    width: 100%;
    display: none;
    top: 25px;
    box-shadow: var(--main-shadow);
    font-family: Arial, Helvetica, sans-serif;
    color: #383838;
    z-index: 5;
}

#search-glass.boxShadowOff{
    box-shadow: none;
}

.item-glass-result{
    cursor: pointer;
    margin-bottom: .5rem;
    transition: all .5s ease;
    padding: .5rem;
    font-size: .7rem;
    border-radius: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.item-glass-result:hover{
    background-color: #d4d4d4;
}

.main{
    width: 100%;
    padding: 2rem;
    display: flex;
    justify-content: center;
    gap: 20px;
    z-index: 0;
}

.main section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 100px;
    background-color: #262a82;
    text-align: center;
    border-radius: 25px;
    color: white;
    font-size: 18px;
    font-family: var(--font-arsenal), sans-serif;
    font-weight: 400;
    font-style: normal;
  box-shadow: var(--main-shadow);
  cursor: pointer;
  font-optical-sizing: auto;
  opacity: 0;
  transition: transform .5s ease, background-color .5s ease, opacity .5s ease-in, box-shadow 1s ease, color .5s ease;
}

.main section:hover{
    transform: translateY(-5px);
    background-color: rgba(128, 128, 128, 0.233);
    box-shadow: var(--background-shadow-button);
    color: #16183881;
}

section>i{
    margin-left: 1rem;
}

.icon-ai-max{
    width: 50px;
    height: 50px;
    display: block;
    background-image: url(/logo-types/ai-max-logo.png);
}

/*Ventana modal de manual de usuario*/

.modal-container{
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: #16183881;
    top: 0;
    left: 0;
    backdrop-filter: blur(10px);
    display: none;
    justify-content: center;
    align-items: center;
    transition: all 1s ease;
    z-index: 100;
}

.modal-windows{
    width: 50%;
    min-height: 500px;
    max-height: 600px;
    background-color: #ffffff;
    border-radius: 35px;
    box-shadow: var(--main-shadow);
    padding: 4rem ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 1s ease;
    color: #16183881;
    z-index: 101;
}

.modal-windows-content{
    min-height: 200px;
    overflow-y: auto;
    transition: opacity .5s ease;
    color: #16183881;
}

.modal-img{
    display: flex;
    justify-content: center;
    margin:2rem;
}

.modal-img img{
    width: 300px;
    filter: drop-shadow(1px 1px 1px black);
    border-radius: 15px;

}

.text-instructions{
    padding: 0 5rem;
    font-size: 1rem;
}
.text-instructions img{
    width: 300px;
    filter: drop-shadow(1px 1px 1px black);
    border-radius: 15px;
    margin: 2rem;
}

h2{
    font-size: 3rem;
    font-family: var(--font-arsenal), sans-serif;
  font-weight: 100;
  font-style: normal;
  text-align: center;
}

h3{
    font-size: 1.5rem;
    font-family: var(--font-arsenal), sans-serif;
  font-weight: 100;
  font-style: normal;
  text-align: center;
}

.modal-windows h2{
    letter-spacing: 1rem;
}

.instrucciones{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    padding-top: 3rem;
}

.instrucciones button{
    padding: 1rem;
    border-radius: 25px;
    border: none;
    box-shadow: var(--main-shadow);
    cursor: pointer;
    transition: all .5s ease;
    background-color: #262a82;
    color: #cfcfcf
}

.instrucciones button:nth-child(4){
    background-color: #fcb823;
    color: #3a3a3ab6;
}

.instrucciones button:hover{
    transform: translateY(-5px);
}

/*
-----------------------------------------
/        Facturas y Manifiestos
-----------------------------------------
*/

.container{
    display: flex;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

main.load-manifest-and-invoice-container{
    width: 100%;
    overflow-y: auto;
}

h1{
   font-family: var(--font-arsenal), sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 3rem;
  font-optical-sizing: auto;

}

p{
   font-family: var(--font-arsenal), sans-serif;
  font-weight: 400;
  font-style: normal;
}

nav{
    width: 70px;
    height: 100vh;
    background-color: #262a82;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 50px;
    transition: all .4s ease;
    color: #cfcfcf;
    position: relative;
}

nav.active{
    width: 350px;
}

.back-home{
    display: flex;
    align-items: center;
    transition: all .5s ease;
    margin-left: 20px;
}

nav ul li i{
    cursor: pointer;
    color: #cfcfcf;
  font-family: "Poiret One", sans-serif;
  font-optical-sizing: auto;
  font-size: 1rem;
}

.back-home i{
    color: #cfcfcf;
    font-size: 1.5rem;
    cursor: pointer;
}

.back-home:hover{
    transform: translateX(-1rem);

}

.list-navegation-ul{
    display: flex;
    flex-direction: column  ;
    width: 100%;
    justify-content: center;
    list-style: none;
    align-items: flex-start;
    position: relative;
    gap: 1.5rem;
    margin-left: 20px;
}

.list-navegation-ul li{
    background-color: transparent;
    position: relative;
    width: 100%;
}

.nav-description{
    margin-left: 1.5rem;
    position: absolute;
    top: 0;
    opacity: 0;
    display: none;
    width: 100%;
   font-family: "Poiret One", sans-serif;
   font-size: .8rem;
}

nav.active .nav-description{
   display: inline-block;
   opacity: 1;
}

nav>ul a{
 color: #cfcfcf;
  font-optical-sizing: auto;
  font-size: 1rem;
}

.list-navegation-ul li:hover i{
    transition: .5s;
    color: #fff;
}

a .bold{
    font-weight: bold;
    color: #ecc900;
}

.bold i{
    color: #ecc900;
}

#btn-log-out{
    position: absolute;
    bottom: 40px;
    right: 20px;
    border-radius: 50%;
    padding: 7px;
    font-size: 15px;
    border-style: none;
    font-optical-sizing: auto;
    cursor: pointer;
    transition: all .5s ease;
}

#btn-log-out:hover{
    background-color: rgb(202, 90, 90);
    color: whitesmoke;
}

/*Personalizacion del contenido de la pagina*/

/*
-----------------------------------------
/      Zona de arrastrar y pegar
-----------------------------------------
*/

.drag-and-drop{
    width: 70%;
    height: 200px;
    border-radius: 25px;
    border: #e7e7e7 1px dashed;
    display: none;
    transition: all .3s ease;
    margin: 0 auto;
    overflow: hidden;
}

.drag-and-drop.active{
    border-style: none;
    background-color: #cccccc;
    color: #000b30;
}

.drag-and-drop.on{
    display: block;
}

.shape-drag-and-drop{
    width: 100%;
    height: 200%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    transition: transform .5s ease-in-out;
}

.shape-drag-and-drop.active{
    transform: translateY(-50%);
}

.drop-file-space{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.drop-file-process{
    display: flex;
    justify-content: center;
    align-items: center;
}

.drop-file-process .file{
    width: 50%;
    height: 60%;
    border-radius: 15px;
    background: linear-gradient(#000b30, rgb(46, 76, 105));
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 10px;
    transition: all 1s ease-in;
    gap: 50px;
}

.check-feedback{
    width:35%;
    transition: all .5s ease-in;
    opacity: 0;
}

.check-feedback img{
    width: 100%;
}

.file.done{
    animation: fullBar 1s ease-in-out forwards;
}

@keyframes fullBar{
    0%{transform: rotate(0deg) translateY(0);}
    15%{transform: rotate(15deg)translateY(-10px);}
    30%{transform: rotate(-15deg)translateY(-10px);}
    45%{transform: rotate(15deg)translateY(-10px);}
    60%{transform: rotate(-15deg)translateY(-10px);}
    100%{transform: rotate(0deg)translateY(0);}
}

.process-container{
    width: 80%;
    background: #cccccc;
    border-radius: 5px;
    height: 5px;
}

.process-container.error{
    background: linear-gradient(rgba(90, 8, 8, 0.733), rgb(167, 54, 46));
}

.process-bar{
    height: 100%;
    border-radius: 5px;
    background: linear-gradient(to right, #03a07e, #69db1c);
    transition: all .5s ease-in;
}

.drag-and-drop p{
    text-align: center;
    width: 70%;
}

.drag-and-drop i{
    font-size: 3rem;
}

.container-feedback-file{
    width: 100%;
    display: flex;
    gap: 15px;
}

#file-info{
    font-family: var(--font-arsenal), sans-serif;
    font-size: .8rem;
    margin-left: 15px;
}

.feedback-circle{
    width: 20px;
    height: 20px;
    position: relative;
    display: none;
}

.feedback-circle.active{
    display: inline-block;
}

.feedback-circle::before{
 content: ' ';
 position: absolute;
 display: inline-block;
 width: 100%;
 height: 100%;
 border-radius: 50%;
 background: conic-gradient(#ffffff, #b8b8b8, #1b1e5c44, #1b1e5c18);
 animation:  feedBackCircle .5s infinite ease-in-out;
}

@keyframes feedBackCircle{
    0%{
        transform: rotate(0deg);
    } 100%{
        transform: rotate(360deg);
    }
}

.feedback-circle::after{
 content: ' ';
 position: absolute;
 display: inline-block;
 width: 90%;
 height: 90%;
 top: 5%;
 left: 5%;
 border-radius: 50%;
 background: #262a82;
}

/*modulo de filtros*/

 .filer-modules{
    min-width: 900px;
    max-width: 1000px;
    height: 60px;
    display: flex;
    justify-content: flex-end;
 }

 .container-filters{
    width: 55px;
    display: flex;
    align-items: center;
    gap: 15px;
    background: #ffffff;
    border-radius: 30px;
    box-shadow: var(--main-shadow);
    padding-left: 12px;
    transition: all .5s ease;
    overflow: hidden;
 }

 .container-filters.active{
    width: 300px;
 }

 .filter-by-model, .filter-by-reference{
    padding: 10px;
    border-radius: 25px;
    border: 1px solid black;
    display:  flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    transition: transform .5s ease, opacity 1s ease-in, background .5s ease;
    opacity: 0;
    font-size: 15px;
 }

  .filter-by-model.active, .filter-by-reference.active{
    opacity: 1;
  }

   .filter-by-model.picked, .filter-by-reference.picked{
    background: #000b30;
    color: #fff;
  }

 .filter-by-model i, .filter-by-reference i{
    font-size: 1rem;
    transition: all 0.5s ease-in;
 }

 .filter-by-model:hover, .filter-by-reference:hover{
    transform: translateY(-5px);
 }

 .filter-by-model:hover i,  .filter-by-reference:hover i{
   transform: rotate(360deg);
 }

 .fa-sliders{
    font-size: 18px;
    padding: 5px;
    cursor: pointer;
    color: rgb(43, 43, 43);
 }
 

/* Tabla de datos de manifiestos y documentos*/

.pdf-container{ /*Este es el estilo de la capa trasera para la tabla*/
    margin: 0 auto;
    background-color: #262a82;
    min-width: 900px;
    max-width: 1000px;
    border-radius: 25px;
    background-color: #fff;
    padding-top: 1rem;
  box-shadow: var(--main-shadow);
  overflow: hidden;

}

.table-buttons, .table-shorts{
    margin-left: 50px;
    display: flex;
    gap: 1rem;
}

.table-buttons > button, .table-shorts > button{
    width: 2rem;
    height: 2rem;
    border: none;
    background: transparent;
    border-radius: 50%;
    transition: all .3s ease;
    cursor: pointer;
    color: #383838;
}

.table-buttons > button:hover{
    background-color: #adadad;
}

.page-info p{
    font-family: sans-serif;
    vertical-align: center;
    font-size: .7rem;
}

table{
  width: 100%;
  margin: 0 auto;
  border-spacing: 0;
  overflow: hidden;
  font-family:  Arial, Helvetica, sans-serif;
  font-size: .8rem;
  background-color: #fff;
  margin-bottom: 5rem;
}

.phantom-placeholder{
    width: 100%;
    border-radius: 8px;
    height: 20px;
    background: linear-gradient(90deg, rgb(184, 184, 184), rgb(218, 218, 218), rgb(184, 184, 184)) ;
    background-size: 200% 100%;
    animation: phantom-loading 1.5s infinite ease-in-out;
    display: none;
}

@keyframes phantom-loading{
    0%{
     background-position: 200% 0;
    }
    100%{
      background-position: -200% 0;
    }
}

thead{
        color: #181818a6;

}

th{
    padding: 1rem;
}

td{
    padding: 1rem;
}

.row-name-table{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 500px;
}

table a{
    text-decoration: none;
    color: #16183850;
    transition: color .5s ease;
}

table a:hover{
    color: #262a82;
}

.olvidona{
    font-size: 1.2rem;
    color: rgb(180, 16, 16);
    transition: all .5s ease;
}

.olvidona:hover{
    color: rgb(75, 14, 14);
}

.empty-message{
    width: 100%;
    text-align: center;
}

/*
-----------------------------------------
/                Gafas
-----------------------------------------
*/

.pop-up-status-register{
    display: flex;
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    top: 12px;
    right: -50px;
    animation: statusBar 5s .5s 1 ease forwards;
    box-shadow: var(--main-shadow);
    overflow: hidden;
    white-space: nowrap;
    justify-content: flex-start;
    gap: 15px;
    align-items: center;
    font-family: var(--font-arsenal-paragraph);
    color: #fff;
    font-size: 15px;
}

.container-pop-up-icons{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
}

.icon-status{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 50%;
}

.pop-up-status-register.error{
    background: linear-gradient(to right,rgb(146, 27, 11), rgb(94, 18, 9));
}

.pop-up-status-register.success{
    background: linear-gradient(to right,rgb(119, 192, 36), rgb(94, 145, 35));
}

.pop-up-status-register.error .icon-status{
    background: rgb(146, 27, 11);
}

.pop-up-status-register.success .icon-status{
    background: rgb(119, 192, 36);
}

@keyframes statusBar{
    0%{
    right: -50px;
    }
    15%{
    right: 50px;
    width: 50px;
    }
    25%{
        right: 100px;
        width: 300px;
    }75%{
        right: 100px;
        width: 300px;
    }100%{
        width: 50px;
        right: -50px;
    }
}

.container-input-data{
    display: flex;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.main-glasses{
    width: 100%;
    height: 100%;
    flex-direction: row;
    justify-content: center;
    gap: 35px;
    flex-wrap:wrap;
    padding: 35px;
    overflow-y: auto;
}

.container-register-eyewears{
    min-width: 400px;
    max-width: 1000px;
    height: 700px;
    background: #262a82;
    border-radius: 35px;
    display: flex;
    overflow: hidden;
    position: relative;
    box-shadow: var(--main-shadow);
}

.container-register-eyewears.change{
    background: linear-gradient(#060e1b 80%, #0d2750 100%) !important;
}

.container-register-eyewears>div{
    width: 50%;
    height: 100%;
    background-color: #262a82;
    padding: 40px;
    border-radius: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.single-register{
    background: linear-gradient(#060e1b 80%, #0d2750 100%) !important;
}

.cover-capsule{
   background: #fff !important;
    position: absolute;
    color: #0d2750;
    flex-direction: column;
    gap: 20px;
    transition: all .5s ease;
}

.cover-capsule.toRight{
    transform: translateX(99.5%);
    background: linear-gradient(#060e1b 80%, #0d2750 100%) !important;
    color: #fff !important;
}

.btn-togle-register{
 padding: 20px;
 border-radius: 15px;
 border-style: none;
 background: rgb(233, 180, 7);
 cursor: pointer;
 font-family: var(--font-arsenal-paragraph) !important;
 transition:all .5s ease;

 box-shadow: var(--main-shadow);
}

.btn-togle-register:hover{
    background: #262a82;
    color: #fff;
    transform: translateY(-5px);
}

.cover-capsule p{
    font-family: var(--font-arsenal-paragraph) !important;
    font-size: 15px;
    width: 80%;
    text-align: center;
    font-weight: lighter;
}

/*Form Massive Data*/

.form-massive-data{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

/*Form Single Data*/

.form-single-data{
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

/*Form to issue certificate*/

.certificate-register{
    min-width: 500px;
    height: 800px;
    background: linear-gradient(#060e1b, #0d2750,#060e1b);
    border-radius: 25px;
    box-shadow: var(--main-shadow);
    animation: movementBackgroundCertificate 8s infinite linear;
    background-size: 200% 200%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes movementBackgroundCertificate{
    0%{
      background-position: 50% 0%;
    }
    50%{
      background-position: 50% 200%;
    }
    100%{
      background-position: 50% 0%;
    }
}


.issue-certificate{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    border-radius: 25px;
    background: #060e1b86;
    overflow-y: auto;
}

.img-logo-imax{
    width: 80px;
    height: 80px;
    background-image: url(/logo-types/ai-max-logo.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
/*textArea*/

#textareaGlasses{
    min-width: 75%;
    max-width: 80%;
    height: 150px;
    border-radius: 25px;
    padding: 15px;
    border-style: none;
    box-shadow: var(--main-shadow);
}

#textareaGlasses:focus{
    outline: none;
}

/*Labels*/

.group-input-certificate-glasses{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.label-input{
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    position: relative;
}
/*Inputs*/

.glass-form-input{
    padding: 15px;
    border-radius: 25px;
    border-style: none;
    box-shadow: var(--main-shadow);
    transition: all .5s ease;
    width: 200px;
}

.group-input-certificate-glasses .glass-form-input{
    width: 90px;
}

input[type='date']{
    width: 200px;
    padding: 15px;
    border-radius: 25px;
    border-style: none;
    box-shadow: var(--main-shadow);
    transition: all .5s ease;
    font-family: var(--font-arsenal-paragraph);
}

input[type='date']:focus{
    outline: none;
    background: transparent;
    border: 1px #ffd000 solid;
    color: #fff;
}

input[type='date']:focus::-webkit-calendar-picker-indicator {
    cursor: pointer;
    filter: invert(1); /* Invierte el color del ícono nativo (de negro a blanco) */
    
    /* Opcional: hacerlo un poco más grande */
    transform: scale(1.2); 
}

input[type='date'] + .tittle-input{
    background: transparent;
    transform: translateY(-30px);
    font-size: 10px;
    color: #ffd000;
}

.glass-form-input:focus, .glass-form-input:not(:placeholder-shown){
    outline: none;
    background: none;
    border: 1px #ffd000 solid;
    color: #fff;
}

.tittle-input{ /*span*/
    position: absolute;
    display: inline-block;
    left: 15px;
    top: 15px;
    font-size: 13px;
    transition: all .5s ease;
}

.glass-form-input:focus + .tittle-input, .glass-form-input:not(:placeholder-shown) + .tittle-input{
    transform: translateY(-20px);
    font-size: 10px;
    color: #ffd000;
    background: #262a82;
    padding: 0 5px;
}

.form-single-data .glass-form-input:focus + .tittle-input, .form-single-data .glass-form-input:not(:placeholder-shown) + .tittle-input {
    background: #060e1b;
}

.issue-certificate .glass-form-input:focus + .tittle-input, .issue-certificate .glass-form-input:not(:placeholder-shown) + .tittle-input{
    background: transparent;
    transform: translateY(-30px);
}

#inputFillInvoice, #inputFillManifest{
 padding: 10px;
 border-radius: 15px;
 border-style: none;
 box-shadow: var(--main-shadow);
}

#inputFillInvoice.search, #inputFillManifest.search{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

#inputFillInvoice:focus, #inputFillManifest:focus{
    outline: none;
}
.field-result-document{
 background: #fff;
 position: absolute;
 width: 100%;
 left: 0;
 padding: 5px;
 border-bottom-left-radius: 15px;
 border-bottom-right-radius: 15px;
 max-height: 200px;
 overflow-y: auto;
 overflow-x: hidden;
 display: none;
 z-index: 5;
}

.field-result-document::-webkit-scrollbar{
    width: 5px;
}

.field-result-document::-webkit-scrollbar-corner{
    display: none;
}

.field-result-document::-webkit-scrollbar-track{
        margin: 20px 0;
}

.field-result-document::-webkit-scrollbar-thumb{
    background: #000b30;
    border-radius: 5px;
}

.field-result-document ul{
    font-size: 12px;
    font-family: var(--font-arsenal-paragraph), Arial;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.field-result-document li{
 white-space: nowrap;
 overflow: hidden;
 text-overflow: ellipsis;
 width: 100%;
 padding: 5px 2px;
 cursor: pointer;
 transition: all .5s ease;
 border-radius: 5px;
}

.field-result-document li:hover{
    background-color: #838383;
    color: #fff;
}

/*Boton de accion*/

.btn-register-action{
    padding: 15px;
    border-radius: 15px;
    border-style: none;
    cursor: pointer;
    box-shadow: var(--main-shadow);
    background: rgb(2, 16, 43);
    font-family: var(--font-arsenal-paragraph);
    transition: all .5s ease;
    color: #fff;
}

.btn-register-action:hover{
    background: rgb(5, 180, 122);
    transform: translateY(-5px);
    color: #060e1b;
}

.btn-register-action.process{
    pointer-events: none;
    cursor: default;
}

.group-documents-input{
    width: 100%;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

/* Estilos de la pagina de resultados */

.table-results-container{
    width: 70%;
    margin: 1rem auto;
    border-radius: 25px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: var(--main-shadow);
    text-align: left;
}

.table-search-results input[type="checkbox"]{
    opacity: 0;
    cursor: pointer;
}

.table-search-results tbody tr:hover{
 background-color: #e4e4e4;
 transition: .5s;
}

tr:hover input[type="checkbox"]{
 opacity: 1;
}

.table-search-results td:nth-child(1),.table-search-results th:nth-child(1){
 width: auto;
}

.table-search-results td:nth-child(2),.table-search-results th:nth-child(2){
 width: 35%;
}

/*Pagina de accesos denegados*/

.denny-box{
    margin: 0 auto;
    width: 70%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.denny-box h2{
    font-size: 1.8rem;
    font-weight: lighter;
    color: #535353;
}

.denny-box button{
    padding: 1rem;
    border-radius: 25px;
    border-style: none;
    cursor: pointer;
    background: linear-gradient(90deg,rgb(32, 32, 32), rgb(58, 58, 58), rgb(151, 151, 151));
    box-shadow: var(--main-shadow);
    transition: all .5s ease;
}

.denny-box button:hover{
    transform: translateY(-5px);
}

.denny-box a{
 text-decoration: none;
 color: white;
} 

.denny-box img{
    width: 10rem;
    filter: grayscale(100%);
}