@import url('https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root{
    --main-shadow: 1px 1px hsl(0deg 0% 0% / 0.075),
      0 2px 2px hsl(0deg 0% 0% / 0.075),
      0 4px 4px hsl(0deg 0% 0% / 0.075),
      0 8px 8px hsl(0deg 0% 0% / 0.075),
      0 16px 16px hsl(0deg 0% 0% / 0.075);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html{
    font-size: 1vw;
}

/*(Design) Login Page*/

.body-login{
  background-image:  linear-gradient(90deg,#000000ec, #000000c5,#0000009c, #0000000e),url('/src/background-glasses.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  overflow-y: hidden;
}

.container{
    margin: 100px auto 0 auto;
    width: 60%;
    height: 500px;
    display: flex;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: var(--main-shadow);
    backdrop-filter: blur(5px);
}

.left{
    width: 50%;
    background-color: rgba(248, 252, 255, 0.897);
    display: flex;
    justify-content: center;
    align-items: center;
}


.logo-andes-form{
    
}


.right{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.phrase-container{
    font-family: "Arsenal SC", sans-serif;
    color: beige;
    padding: 0 4rem;
    font-size: 1.5rem;
    transition: all 1s ease;
}

.form-login{
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:2rem;
    font-family: "Arsenal SC", sans-serif;

}

.form-login h1{
    font-weight: 200;
}

.primary-btn{
    padding: 1rem;
    border-radius: 25px;
    border: none;
    box-shadow: var(--main-shadow);
    background-color: #262a82;
    color: beige;
    font-family: "Arsenal SC", sans-serif;
    cursor: pointer;
    transition: all .5s ease;
}

.primary-btn:hover{
   transform: translateY(-5px);
}

.form-login label{
    position: relative;
}

.form-login input{
    border: none;
    padding: .7rem;
    border-radius: 25px;
    color: rgb(51, 51, 51);
    background-color: #ffffff;
    box-shadow: var(--main-shadow);
}

.form-login input:focus{
    outline: none;
}

.form-login span{
    position: absolute;
    left: 15px;
    top: 10px;
    color: rgb(112, 112, 112);
    transition: all .5s ease;
}

.form-login input:focus + span, .form-login input:not(:placeholder-shown) + span{
    transform: scale(.8) translateY(-35px);
}