@import url('https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root{
    --main-shadow: 1px 1px hsl(0deg 0% 0% / 0.075),
      0 2px 2px hsl(0deg 0% 0% / 0.075),
      0 4px 4px hsl(0deg 0% 0% / 0.075),
      0 8px 8px hsl(0deg 0% 0% / 0.075),
      0 16px 16px hsl(0deg 0% 0% / 0.075);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html{
    font-size: 1vw;
}

/*(Design) Login Page*/

.body-login{
  background-image:  linear-gradient(90deg,#000000ec, #000000c5,#0000009c, #0000000e),url('/src/background-glasses.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
    width: 60%;
    height: 65vh;
    display: flex;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: var(--main-shadow);
    backdrop-filter: blur(5px);
}

.left{
    width: 50%;
    background-color: rgba(248, 252, 255, 0.897);
    display: flex;
    justify-content: center;
    align-items: center;
}

.right{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.phrase-container{
    font-family: "Arsenal SC", sans-serif;
    color: beige;
    padding: 0 4rem;
    font-size: 1.5rem;
    transition: all 1s ease;
}

.form-login{
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:2rem;
    font-family: "Arsenal SC", sans-serif;

}

.form-login h1{
    font-weight: 200;
}

.primary-btn{
    padding: 1rem;
    border-radius: 25px;
    border: none;
    box-shadow: var(--main-shadow);
    background-color: #262a82;
    color: beige;
    font-family: "Arsenal SC", sans-serif;
    cursor: pointer;
    transition: all .5s ease;
}

.primary-btn:hover{
   transform: translateY(-5px);
}

.form-login label{
    position: relative;
}

.form-login input{
    border: none;
    padding: .7rem;
    border-radius: 25px;
    color: rgb(51, 51, 51);
    background: #ffffff;
    box-shadow: var(--main-shadow);
}

.form-login input:focus{
    outline: none;
}

.movil-name{
    position: absolute;
    left: 15px;
    top: 10px;
    color: rgb(112, 112, 112);
    transition: all .5s ease;
}

.form-login input:focus + span, .form-login input:not(:placeholder-shown) + span{
    transform: scale(.8) translateY(-2.5rem);
}

.show-password{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    margin: auto; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    cursor: pointer;
}

.modal-container-login{
    width: 100%;
    height: 100vh;
    background-color: #46464660;
    position: absolute;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.modal-container-login.modal-on{
    display: flex;
}

.modal-window-login{
    min-width: 200px;
    max-width: 400px;
    height: 200px;
    background: #ffffff;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-family: "Arsenal SC", sans-serif;
    box-shadow: var(--main-shadow);
    color: rgb(85, 85, 85);
}

.circle{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}

.circle::before{
    content: ' ';
    width: 70px;
    height: 55px;
    top: 0px;
    left: -10px;
    background: conic-gradient(rgba(95, 95, 95, 0.925), rgba(37, 37, 37, 0.925),rgba(95, 95, 95, 0.925),rgba(161, 161, 161, 0.925), #ffffff);
    display: block;
    position: absolute;
    animation: loading 2s ease-in-out infinite;
}
.circle::after{
    content: ' ';
    width: 45px;
    height: 45px;
    position: absolute;
    top: 2px;
    left: 2px;
    display: block;
    background: #ffffff;
    border-radius: 50%;
}

.message{
    position: relative;
}

.message::after{
    content: ' ';
    position: absolute;
    width: 20px;
    animation: points 1.5s ease-in infinite;
    display: inline-block;
}

@keyframes points {
    0%{content: ' ';}
    33%{content: '.';}
    66%{content: '..';}
    100%{content: '...';}
}

@keyframes loading{
    0%{
        transform:  rotate(0deg);
    } 100%{
        transform: rotate(360deg);
    }
}